
/* Position */
.static {
	position: static;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.flex {
	display: flex;
}

.inline-flex {
	display: inline-flex;
}

.flex-col {
	flex-direction: column;
}

.items-center {
	align-items: center;
}

.items-baseline {
	align-items: baseline;
}

.items-end {
	align-items: end;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: end;
}

.self-start {
	align-self: start;
}

.self-center {
	align-self: center;
}

.self-end {
	align-self: end;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-grow {
	flex-grow: 1;
}

.flex-no-grow {
	flex-grow: 0;
}

/* Overflow */

.overflow-hidden {
	overflow: hidden;
}

.overflow-x-auto {
	overflow-x: auto;
}
