&
*.eventlog*
*.hp
.DS_Store
.envrc
.direnv
.pre-commit-config.yaml
.hie
.hspec-failures
.vscode/
/.stack-work/
01-index*
<
Session.vim
_data/
_database/
cabal.project.local
cbits/*.cpp
dist-newstyle
environment.local.sh
environment.test.local.sh
environment.prod.sh
ghcid.text
logs/*
pgdata/
result*
tags
tags.lock
tags.mtime

/static/*
assets/fonts
assets/node_modules
assets/yarn-error.log
design/node_modules

*.dump-timings
_build/cabal-store
storage/
cabal.project.release.freeze
prlog
