&
01-index
.envrc
.hie
.hspec-failures
/.stack-work/
<
Session.vim
_database/
_data/
dist-newstyle
environment.local.sh
environment.prod.sh
ghcid.text
tags
tags.mtime

/static/*
assets/node_modules
assets/yarn-error.log
assets/fonts
result*
cbits/*.cpp
pgdata/
.vscode/
.DS_Store
tags.lock
cabal.project.local

