&
.envrc
.hie
.hspec-failures
/.stack-work/
<
Session.vim
_database/
_data/
deployments/prod.sh
dist-newstyle
environment.local.sh
ghcid.text
tags
tags.mtime
client_session_key.aes

/static/*
assets/node_modules
assets/yarn-error.log
assets/fonts
result*
