.exact-match {
	box-shadow: 0 5px 10px 0 rgb(0 0 0 / 50%);
	border-radius: 6px;
}

.package-count {
	text-align: center;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.search-announcement {
	margin-top: 1rem;
	padding-left: 1rem;

	.lightbulb-icon {
		display: inline;
		height: 1.25rem;
		width: 1.25rem;
	}

	.feed-icon {
		display: inline;
		height: 1.25rem;
		width: 1.25rem;
	}

}

.package-list-item {
	list-style: none;

	a {
		display: block;
		font-size: 1.25rem;
		line-height: 1.75rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-left: 1rem;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	a:hover {
		background-color: var(--package-list-item-background-hover-color);
		border-radius: 6px;
	}

	a:hover h4.package-list-item__name {
		text-decoration: underline;
	}

	.package-list-item__name {
		display: inline;
		color: var(--package-list-item-name-color);
	}

	.package-list-item__synopsis {
		display: inline;
		margin-left: 10px;
		color: var(--package-list-item-synopsis-color);
	}

	.package-list-item__metadata {
		color: var(--package-list-item-metadata-color);

		.package-list-item__license {
			color: var(--package-list-item-metadata-color);
		}

		.package-list-item__version {
			color: var(--package-list-item-version-color);
		}
	}

	.package-list-item__metadata > * {
		margin-top: 0.5rem;
		margin-right: 10px;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	.package-list-item__component {
		display: inline;
		color: var(--package-list-item-component-color);
	}
}
