/* stylelint-disable selector-class-pattern */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */

.main-title {
	color: var(--text-color);
	font-size: 2.25rem;
	font-weight: 800;
	letter-spacing: -0.025rem;
	line-height: 2.5rem;
	margin-bottom: 5px;
	padding-top: 4rem;
	padding-bottom: 4rem;
	text-align: center;
}

.search-hint {
	margin-top: 1rem;
	text-align: center;

	.lightbulb-icon {
		display: inline;
		height: 1.25rem;
		width: 1.25rem;
	}
}

section#main-page-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: center;
	margin-top: 3rem;
	margin-bottom: 1.5rem;

	.button {
		background-color: var(--main-page-button-background);
		border-radius: 50rem;
		border-width: 1px;
		color: var(--text-color);
		font-weight: bolder;
		padding-bottom: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 1rem;
	}

	.button:hover {
		border-color: var(--main-page-button-focus-border-color);
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 200ms;

		/* offset-x | offset-y | blur-radius | spread-radius | color */
		box-shadow: 0 0 4px 2px var(--main-page-button-focus-border-color);
	}

	.button:active {
		border-color: var(--main-page-button-focus-border-color);
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 200ms;

		/* offset-x | offset-y | blur-radius | spread-radius | color */
		box-shadow: 0 0 4px 2px var(--main-page-button-focus-border-color);
	}
}

section#package-news {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.package-news-column {
	h2 {
		border-bottom: 1px solid #354561;
		padding-bottom: 0.3em;
		margin-bottom: 16px;
		font-size: 1.5em;

		a {
			display: inline-block;
		}
	}

	ul:not(:last-child) {
		margin-bottom: 1rem;

		li {
			list-style-type: none;
		}
	}
}


span.upload-date::before {
	content: attr(data-text); /* here's the magic */
	position: absolute;
	font-size: 0.85em;

	/* vertically center */
	top: 50%;
	transform: translateY(-50%);

	/* move to right */
	left: 100%;

	/* basic styles */
	background: #000;
	border-radius: 10px;
	box-shadow: 0 1px 8px rgb(0 0 0 / 50%);
	color: #fff;
	padding: 5px;
	text-align: center;
	display: none; /* hide by default */
}

span.upload-date:hover::before {
	display: block;
	width: 200px;
}

.upload-date {
	svg {
		display: inline;
		width: 1rem;
		height: 1rem;
	}

	position: relative; /* making the .tooltip span a container for the tooltip text */
	border-bottom: 1px dashed #000; /* little indicater to indicate it's hoverable */
}

@media (max-width: 48rem) {
	.main-search {
		align-items: center;
	}
}
