/* stylelint-disable selector-class-pattern */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
	background-color: var(--background-color);
	color: var(--text-color);
}

.container {
	width: calc(100% - 2rem);
	max-width: 1300px;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: auto;
	margin-left: auto;
}

.container-small {
	max-width: 28rem;
}

a {
	text-decoration: none;
	color: var(--link-color);
}
