/* stylelint-disable declaration-block-no-redundant-longhand-properties, selector-class-pattern */

:root {
	@design-token-utils (custom-properties);


	/* Responsive breaking points */
	@custom-media --viewport-sm (min-width: 640px);
	@custom-media --viewport-md (min-width: 768px);
	@custom-media --viewport-lg (min-width: 1024px);
	@custom-media --viewport-xl (min-width: 1280px);
	@custom-media --viewport-2xl (min-width: 1536px);

	/* Primary Blue */
	--blue-15: hsl(221 30% 15%);
	--blue-20: hsl(221 30% 20%);
	--blue-30: hsl(221 30% 30%);
	--blue-40: hsl(221 30% 40%);
	--blue-60: hsl(221 30% 60%);
	--blue-70: hsl(221 30% 70%);
	--blue-80: hsl(221 30% 80%);

	/* Secondary Purple */
	--purple-20: hsl(294 40% 20%);
	--purple-30: hsl(294 40% 30%);
	--purple-40: hsl(294 40% 40%);
	--purple-60: hsl(294 40% 60%);
	--purple-70: hsl(294 40% 70%);
	--purple-80: hsl(294 40% 80%);

	/* Neutral Grey */
	--gray-10: hsl(221 9% 10%);
	--gray-20: hsl(221 9% 20%);
	--gray-30: hsl(221 9% 30%);
	--gray-80: hsl(221 9% 80%);
	--gray-90: hsl(221 9% 90%);
	--gray-100: hsl(221 9% 100%);

	/* Version */
	--green-30: hsl(140 100% 30%);
	--green-40: hsl(140 100% 40%);
	--red-60: hsl(358 80% 60%);

	/* Light backgrounds */
	--light-blue-background: hsl(210 100% 96%);
	--light-red-background: hsl(355 73% 97%);
	--light-green: hsl(206 41% 97%);
	--pale-blue: hsl(184 55% 77%);
	--pale-green: hsl(120 93% 79%);

	/* Dark foregrounds to go with backgrounds */
	--dark-blue: hsl(220 64% 33%);
	--dark-red: hsl(0 69% 36%);
}
