@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  a {
    @apply text-link dark:text-brand-purple-light;
  }
}

@layer components {
  .larger-container {
    @apply max-w-7xl mx-auto px-2;
  }  

  .form-input {
    @apply my-1 rounded-md p-2 text-gray-900 placeholder-gray-600 border-2 border-gray-500;
  }

  .btn {
    @apply rounded-md p-2 hover:bg-brand-purple-dark 
  }
}

#navbar-search-package-name {
  padding-left: 20px;
}

.error-code {
  --tw-bg-opacity: 1;
  color: hsl(270, 50%, 40%);
}

.error-page-button {
  --tw-bg-opacity: 1;
  background-color: hsl(270, 50%, 40%);
}

ul[class="bullets"] {
  li {
    list-style-type: disc;
    list-style-position: inside;
  }
}

div[class="bullets"] {
  ul {
    li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}

.navbar-element {
  color: hsl(0, 0%, 100%);
}

.navbar-element:hover {
  --tw-text-opacity: 1;
  color: hsl(254.3, 95%, 76.7%);
}

/* Dark mode-specific rules */
.dark {

  .social-button:hover {
    --tw-text-opacity: 1;
    color: hsl(254.3, 95%, 76.7%);
  }
}

.divider {
  padding-bottom: 1em;
  margin-bottom: 0.66em;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.card {
  @apply block bg-white dark:bg-background-darker rounded-lg shadow-lg py-4 px-8;
}

/* Large display rules */
@media (min-width: 1024px) {
  .container {
    width: auto;
    max-width: 1300px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .card {
    --tw-shadow-color: rgb(102 51 153 / 0.25);
    --tw-shadow: var(--tw-shadow-colored);
  }

  .about-page {
    width: auto;
    max-width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar {
    margin-bottom: 20rem;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 4rem;
  }

  .headline {
    margin-bottom: 5px;
  }

  ul.packages-list a:hover {
    background: hsl(231.4, 13%, 21.2%);
  }

  .version {
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding-left: 4px;
  }

  .dependency {
    white-space: nowrap;
  }
}
