/* stylelint-disable selector-class-pattern */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "variables.css";
@import "release-readme.css";
@import "release-changelog.css";

@layer components {
  .larger-container {
    @apply max-w-7xl mx-auto px-2;
  }

  .form-input {
    @apply my-1 p-2 text-gray-900 placeholder-gray-600 border-2 border-gray-500;

    border-radius: 6px;
  }

  .btn {
    @apply p-2;

    border-radius: 6px;
  }

  .btn:hover {
    background-color: var(--button-hover-background);
    color: var(--text-color-dark);
  }

  a:hover h2 {
    @apply underline;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.main-title {
  color: var(--text-color);
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  line-height: 2.5rem;
  margin-bottom: 5px;
  text-align: center;
}

.top-navbar {
  background-color: var(--navbar-background-color);
  border-bottom-width: 1px;
  border-color: var(--navbar-border-color);

  #navbar-right {
    background-color: var(--navbar-background-color);
  }

  .navbar-search {
    @apply rounded-full w-full mr-3 pl-3 py-1 px-1;
    @apply leading-tight focus:outline-none border border-2;

    border-color: var(--navbar-search-border-color);
    color: var(--navbar-search-color);
    background-color: var(--navbar-search-background-color);
  }

  .navbar-search:focus {
    border-color: var(--search-bar-focus-border-color);
  }

  .navbar-element:hover {
    --tw-text-opacity: 1;

    color: var(--navbar-element-hover-color);
  }

  #navbar-search-package-name {
    padding-left: 20px;
  }
}

.theme-button--light {
  display: none;
}

[data-theme="dark"] .theme-button--light {
  display: inline-flex;
  background-color: hsl(294 40% 30%);
}

.theme-button--dark {
  display: inline-flex;
}

[data-theme="dark"] .theme-button--dark {
  display: none;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.brand {
  border-bottom-width: 4px;
  padding-bottom: 0.5rem; /* 8px */
  border-color: var(--brand-border);
}

.error-code {
  color: var(--error-code);
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
}

.error-message {
  letter-spacing: -0.025em;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
  color: var(--error-code);
}

.error-page-button {
  background-color: var(--error-button);
}

div[class="bullets"] {
  ul {
    li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}

.version-list-item {
  a {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  a:hover h4.version-list-item__name {
    text-decoration: underline;
  }

  .version-list-item__name {
    margin-right: 0.5rem;
    display: inline;
    color: var(--link-color);
    font-weight: bolder;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.package-install-string {
  background-color: transparent;
  border-color: var(--install-string-border);
  border-radius: 6px;
  display: block;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  width: 100%;
}

.package-title {
  .version {
    font-size: medium;
    line-height: 1.3rem;
    padding-left: 4px;
  }
}

.package-body {
  display: flex;
  flex-direction: column;

  a {
    font-weight: 500;
  }

  .maintainer-info {
    font-weight: 500;
  }

  .package-body-section {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 0.75rem;
    }

    .package-flags {
      .package-flag-name {
      }
      .package-flag-description {
        padding-left: 0.5rem;
      }
    }

  .package-body-section__license {
    font-weight: 500;
  }
}

.pagination-area {
  display: flex;
  padding-bottom: 40px;
}

.pagination-footer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;

  .pagination-footer__page {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-width: 1px;
    border-collapse: collapse;
    height: 40px;
  }

  .pagination-footer__previous {
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }

  .pagination-footer__next {
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}

/* Dark mode-specific rules */
.dark {
  .social-button:hover {
    --tw-text-opacity: 1;

    color: hsl(254.3 95% 76.7%);
  }
}

.divider {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid hsl(0 0% 80%);
}

.page-title {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2rem;
  padding-right: 2rem;

  h1 {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -0.025em;
    text-align: center;
  }
}

.dependents a.dependent:hover {
  text-decoration: underline;
}

.category a:hover {
  text-decoration: underline;
}

.package-link a:hover {
  text-decoration: underline;
}

.version-link a:hover {
  text-decoration: underline;
}

.dependency a:hover {
  text-decoration: underline;
}

.release a:hover {
  text-decoration: underline;
}

.package-list {
  .package-list-item {
    font-size: 1.25rem;
    line-height: 1.75rem;

    a {
      display: block;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      padding-left: 1rem;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    a:hover {
      background-color: var(--package-list-item-background-hover-color);
      border-radius: 6px;
    }

    a:hover h4.package-list-item__name {
      text-decoration: underline;
    }

    .package-list-item__name {
      display: inline;
      margin-right: 0.5rem;
      color: var(--package-list-item-name-color);
    }

    .package-list-item__synopsis {
      display: inline;
      color: var(--package-list-item-synopsis-color);
    }

    .package-list-item__metadata {
      color: var(--package-list-item-metadata-color);

      .package-list-item__license {
        color: var(--package-list-item-metadata-color);
      }

      .package-list-item__version {
        color: var(--package-list-item-version-color);
      }

      .license-icon {
        height: 1.25rem;
        width: 1.25rem;
        display: inline;
        margin-top: -0.25rem;
      }
    }

    .package-list-item__metadata > * {
      margin-top: 0.5rem;
      margin-right: 10px;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
}

.categories-body {
  .category-card__name {
    color: var(--category-card-name-color);
  }

  .category-card__synopsis {
    color: var(--category-card-synopsis-color);
  }

  .category-card {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 400px;
    height: 112px;
  }

  .category-card:hover {
    background-color: var(--category-card-background-hover);
  }
}

.main-search {
  background-color: var(--search-bar-background-color);
  border-radius: 0.75rem;
  border-width: 2px;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  line-height: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem;
  outline-offset: -2px;
  overflow: hidden;
  padding: 0.5rem;

  .search-bar {
    background-color: var(--search-bar-background-color);
    color: var(--search-bar-color);
    display: block;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.5rem;
    flex-grow: 1;
  }

  .search-bar:hover {
    background-color: var(--search-bar-background-hover-color);
  }

  .search-bar:focus {
    background-color: var(--search-bar-background-focus-color);
  }
}

.main-search:focus-within {
  border-color: var(--search-bar-focus-border-color);
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 5px 5px 5px 2px var(--search-bar-focus-border-color);
}

/* Large display rules */
@media (min-width: 1024px) {
  .container {
    width: auto;
    max-width: 1300px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .about-page {
    width: auto;
    max-width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .dependency {
    white-space: nowrap;
  }

  .package-body {
    flex-direction: row;
  }
}

/* smaller display rules */

@media (max-width: px) {
  .package-left-column {
    order: 1;
  }

  .package-right-column {
    order: 2;
  }

  .release-readme-column {
    order: 3;
  }
}
