@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .larger-container {
    @apply max-w-7xl mx-auto px-2;
  }  

  .form-input {
    @apply my-1 rounded-md p-2 text-gray-900 placeholder-gray-600 border-2 border-gray-500;
  }

  .btn {
    @apply rounded-md p-2 hover:bg-purple-1
  }

  a:hover h2 {
    @apply underline;
  }
}

a {
  text-decoration: none;
  @apply dark:text-purple-7 text-blue-6;
}

#navbar-search-package-name {
  padding-left: 20px;
}

.error-code {
  --tw-bg-opacity: 1;
  color: hsl(270, 50%, 40%);
}

.error-page-button {
  --tw-bg-opacity: 1;
  background-color: hsl(270, 50%, 40%);
}

ul[class="bullets"] {
  li {
    list-style-type: disc;
    list-style-position: inside;
  }
}

div[class="bullets"] {
  ul {
    li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}

.navbar-search {
  color: hsl(0, 0%, 100%);
  @apply rounded-full w-full mr-3 pl-3 py-1 px-1 leading-tight focus:outline-none border border-2;
  @apply dark:bg-blue-2 dark:border-blue-2;
  @apply text-gray-1
}

.navbar-element:hover {
  --tw-text-opacity: 1;
  color: hsl(254.3, 95%, 76.7%);
}

.category-card__name {
  @apply text-blue-4 dark:text-purple-7;
}

.category-card__synopsis {
  @apply dark:text-gray-100 text-gray-900;
}
/* Dark mode-specific rules */
.dark {
  .social-button:hover {
    --tw-text-opacity: 1;
    color: hsl(254.3, 95%, 76.7%);
  }
}

.divider {
  padding-bottom: 1em;
  margin-bottom: 0.66em;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.category-card {
  @apply block py-4 px-8;
}

.category-card:hover {
  @apply bg-white dark:bg-blue-1;
}

ul.package-list a {
  @apply py-3 pl-4;
}

li.package-list-item a:hover {
  @apply dark:bg-blue-1;
}

li.package-list-item a:hover h4.package-list-item__name {
  text-decoration: underline;
}

li.category a:hover  {
  text-decoration: underline;
}

.package-list-item {
  @apply xl:text-xl;
}

.package-list-item__name {
  @apply inline mr-2 text-gray-1 dark:text-purple-7;
}

.package-list-item__version {
  @apply text-sm mt-2 text-gray-2 dark:text-gray-7;
}

.package-list-item__synopsis {
  @apply inline dark:text-gray-7;
}

/* Large display rules */
@media (min-width: 1024px) {
  .container {
    width: auto;
    max-width: 1300px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .category-card {
    --tw-shadow-color: rgb(102 51 153 / 0.25);
    --tw-shadow: var(--tw-shadow-colored);
  }

  .about-page {
    width: auto;
    max-width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar {
    margin-bottom: 20rem;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 4rem;
  }

  .headline {
    margin-bottom: 5px;
  }

  .version {
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding-left: 4px;
  }

  .dependency {
    white-space: nowrap;
  }
}
