@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  a {
    @apply text-link dark:text-link-dark
  }
}

#darkmode-toggle:checked ~ label div.toggle-dot {
  @apply translate-x-3;
}

#packageName {
  padding-left: 20px;
}

.error-code{
  color: rgba(102, 51, 153, var(--tw-bg-opacity));
}

.error-page-button{
  --tw-bg-opacity: 1;
  background-color: rgba(102, 51, 153, var(--tw-bg-opacity));
}

#user-menu-container {
  position: relative;
}

#user-menu-nav{
  z-index: 1;
  top: 100%;
  width: max-content;
  max-width: 14rem;
}

.user-menu-element {
  padding: 10px 15px;
}

.user-menu-element a,
.user-menu-element a:visited {
  color: inherit;
  display: block;
}

.user-menu-element a:hover,
.user-menu-element a:active,
.user-menu-element a:focus {
  text-decoration: underline;
}

.user-menu-divider {
  display: block;
  height: 1px;
  background-color: currentColor;
  opacity: .4;
}

ul[class="bullets"] {
  li {
    list-style-type: disc;
    list-style-position: inside;
  }
}

div[class="bullets"]{
  ul {
    li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}

/* Dark mode-specific rules */
.dark{
  .navbar{
    background-color: #353746;
  }

  .navbar-element:hover{
    --tw-text-opacity: 1;
    color: #a68bfc;
  }

  .social-button:hover{
    --tw-text-opacity: 1;
    color: #a68bfc;
  }

  .package-body{
    a:hover{
      --tw-text-opacity: 1;
      color: #a68bfc;
    }
  }

  .navbar-right{
    .active{
        --tw-border-opacity: 1;
        border-bottom-color: rgb(102 51 153 / var(--tw-border-opacity));
        border-bottom-width: 2px;
    }
  }
}

/* Large display rules */
@media (min-width: 1024px) {
  .container{
    width: auto;
    max-width: 1100px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .about-page{
    width: auto;
    max-width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  body{
    height: 100%;
  }

  html{
    height: 100%;
  }

  .navbar{
    margin-bottom: 20rem;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 4rem;
  }

  .headline{
    margin-bottom: 5px;
  }

  .divider{
    padding-bottom: 1em;
    margin-bottom: .66em;
    border-bottom: 1px solid #ccc;
  }

  .version{
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding-left: 4px;
  }

  .package-body-section{
    font-weight: 700;
    display: inline-block;
  }

  .dependency{
    white-space: nowrap;
  }

  .package-left-column{
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }

  .package-right-column{
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }
}
