ul.compiler-badges {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 80px);

  li {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 7px;
    border-radius: 50rem;
    max-width: 100%;
    background-color: var(--compiler-badge-background);
    text-align: center;
  }
}

a.compiler-badge {
  box-sizing: border-box;
  color: var(--text-color);
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.3em 0.6em;
  text-decoration: none;
}
