/* stylelint-disable declaration-block-no-redundant-longhand-properties, selector-class-pattern */

html[data-theme="light"] {
	--background-color: var(--gray-100);
	--brand-border: var(--gray-100);
	--category-card-name-color: var(--gray-30);
	--category-card-synopsis-color: var(--blue-20);
	--category-card-background-hover: var(--gray-90);
	--error-button: var(--purple-20);
	--error-code: var(--purple-20);
	--link-color: var(--blue-40);
	--link-hover-color: hsl(220 13% 91%);
	--navbar-background-color: var(--purple-20);
	--navbar-border-color: var(--gray-90);
	--navbar-search-color: var(--gray-10);
	--navbar-search-background-color: var(--gray-100);
	--navbar-search-border-color: var(--gray-100);
	--package-list-item-background-hover-color: var(--gray-90);
	--package-list-item-name-color: var(--blue-20);
	--package-list-item-synopsis-color: black;
	--package-list-item-metadata-color: black;
	--package-list-item-version-color: var(--green-30);
	--package-list-item-component-color: var(--gray-80);
	--search-bar-color: hsl(221 39% 11%);
	--search-bar-background-color: var(--gray-100);
	--search-bar-background-hover-color: white;
	--search-bar-background-focus-color: white;
	--search-bar-focus-border-color: var(--purple-30);
	--readme-pre-background-color: var(--gray-90);
	--readme-code-background-color: var(--gray-90);
	--changelog-pre-background-color: var(--gray-90);
	--changelog-code-background-color: var(--gray-90);

	/* --install-string-border: hsl(215 28% 17%); */
	--compiler-badge-background: hsl(218 12% 84%);
	--text-color: var(--blue-20);
	--main-page-button-background: var(--gray-100);
	--main-page-button-focus-border-color: var(--purple-30);
	--main-page-button-divider: var(--purple-20);
	--deprecated-version: var(--red-60);
	--breadcrumb-color: var(--gray-30);
	--severity-critical: var(--red-60);
	--severity-high: orange;
	--severity-medium: gold;
	--severity-low: var(--pale-blue);
	--severity-none: hsl(156 100% 99%);
	--severity-rating-colour: black;

	/* Focus ring (aka outline) */
	--outline-offset-shadow: 0 0 #0000;
	--outline-shadow: 0 0 #0000;

	/* Shadows */
	--shadow-simple: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
	--shadow-colored: 0 1px 3px 0 var(--purple-30), 0 1px 2px -1px var(--purple-30);
}
