.package-readme{
  overflow-wrap: break-word;
  box-sizing: border-box;

  h1 {
    border-bottom: 1px solid #354561;
    padding-bottom: 0.3em;
    margin-bottom: 16px;
    font-size: 2em;
    a {
      display: inline-block;
    }
  }

  img {
    max-width: 100%;
    box-sizing: content-box;
  }

  h2 {
    border-bottom: 1px solid #354561;
    margin-bottom: 16px;
    padding-bottom: 0.3em;
    font-size: 1.5em;
  }

  ul {
    margin-bottom: 16px;

    li {
      overflow-wrap: break-word;
      list-style-type: disc;
      list-style-position: inside;
    }
    li + li {
      margin-top: .25em;
    }
  }

  p {
    overflow-wrap: break-word;
    margin-bottom: 16px;
    box-sizing: border-box;
    a {
      display: inline-block;
    }
  }

  pre {
    line-height: 1.45;
    padding: 16px;
    font-family: monospace;
    border-radius: 6px;
    overflow: auto;
    font-size: 90%;
    background-color: #354561;
    margin-bottom: 16px;
  }

  code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: #354561;
    border-radius: 6px;
  }
}
