/* stylelint-disable selector-class-pattern */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.package-install-string {
  background-color: transparent;
  border-color: var(--install-string-border);
  border-radius: 6px;
  display: block;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  width: 100%;
}

.package-alternatives {
  list-style-type: disc;
  list-style-position: inside;
}

.package-title {
  .version {
    font-size: medium;
    line-height: 1.3rem;
    padding-left: 4px;
  }
}

.synopsis {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.package-body {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  grid-gap: 10px;

  a {
    font-weight: 500;
  }

  .maintainer-info {
    font-weight: 500;
    flex-wrap: wrap;
  }

  .package-body-section {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.75rem;
  }

  .release-deprecated {
    color: var(--deprecated-version);
  }

  .package-right-column {
    order: 3;
  }

  .package-right-rows {
    position: sticky;
    top: 7rem;
  }

  .package-right-rows > * {
    margin-bottom: 1.25rem;
  }

  .package-left-column {
    order: 1;
  }

  .package-left-rows {
    position: sticky;
    top: 7rem;
  }

  .package-left-rows > * {
    margin-bottom: 1.25rem;
  }

  .package-flags-section {
    display: inline;
  }

  .package-flags {
    .package-flag-description {
      padding-left: 0.5rem;
      margin-bottom: 0.5em;
    }

    .package-flag-name {
      display: inline;
    }
  }

  .package-flags > * {
    pre {
      margin: 0;
      font-size: 85%;
      background-color: var(--readme-code-background-color);
      border-radius: 6px;
      padding-top: 0.2em;
      padding-right: 0.4em;
      padding-bottom: 0.2em;
      padding-left: 0.4em;
    }

    code {
      margin: 0;
      font-size: 85%;
      background-color: var(--readme-code-background-color);
      border-radius: 6px;
      padding-top: 0.2em;
      padding-right: 0.4em;
      padding-bottom: 0.2em;
      padding-left: 0.4em;
    }
  }

  .package-body-section__license {
    font-weight: 500;
  }
}

.instruction-tooltip {
  svg {
    display: inline;
    width: 1rem;
    height: 1rem;
  }

  position: relative; /* making the .tooltip span a container for the tooltip text */
  border-bottom: 1px dashed #000; /* little indicater to indicate it's hoverable */
}

.instruction-tooltip::before {
  content: attr(data-text); /* here's the magic */
  position: absolute;

  /* vertically center */
  top: 50%;
  transform: translateY(-50%);

  /* move to right */
  left: 100%;
  margin-left: 15px; /* and add a small left margin */

  /* basic styles */
  background: #000;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 50%);
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 250px;
  display: none; /* hide by default */
}

.instruction-tooltip:hover::before {
  display: block;
}

.pagination-area {
  display: flex;
  padding-bottom: 40px;
}

.pagination-footer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;

  .pagination-footer__page {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-width: 1px;
    border-collapse: collapse;
    height: 40px;
  }

  .pagination-footer__previous {
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }

  .pagination-footer__next {
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .package-body {
    justify-content: center;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .package-body {
    grid-template-columns: repeat(1, 1fr);

    .package-left-column {
      order: 1;
    }

    .package-right-column {
      order: 2;

      .package-right-rows .dependents {
        margin-bottom: 2rem;
      }
    }

    .release-readme-column {
      order: 3;
      grid-column: 1;
      overflow: auto;
    }
  }
}
