/* stylelint-disable selector-class-pattern */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */

@import "1-core/1-core.css";
@import "1-core/2-variables.css";

@import "2-components/1-navbar.css";
@import "2-components/2-package-component.css";
@import "2-components/3-breadcrumb.css";
@import "2-components/4-license.css";

@import "3-screens/1-package/1-package.css";
@import "3-screens/1-package/2-release-changelog.css";
@import "3-screens/1-package/3-release-readme.css";
@import "3-screens/1-package/4-compiler-badge.css";
@import "3-screens/2-categories.css";
@import "3-screens/3-about.css";
@import "3-screens/4-front-page.css";

@import "4-helpers.css";

/* Used for the sessions page */
.login-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  max-width: 28rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  h2 {
    color: var(--text-color);
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    margin-bottom: 0.75rem;
  }

  button {
    color: var(--text-color);
  }

  .form-input {
    border-color: rgb(107 114 128);
    border-radius: 6px;
    border-width: 2px;
    color: rgb(17 24 39);
    display: block;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    padding: 0.5rem;
    width: 100%;
  }
}

.version-list-item {
  a {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  a:hover h4.version-list-item__name {
    text-decoration: underline;
  }

  .version-list-item__name {
    margin-right: 0.5rem;
    display: inline;
    color: var(--link-color);
    font-weight: bolder;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.package-list-item {
  list-style: none;

  a {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  a:hover {
    background-color: var(--package-list-item-background-hover-color);
    border-radius: 6px;
  }

  a:hover h4.package-list-item__name {
    text-decoration: underline;
  }

  .package-list-item__name {
    display: inline;
    margin-right: 0.5rem;
    color: var(--package-list-item-name-color);
  }

  .package-list-item__synopsis {
    display: inline;
    color: var(--package-list-item-synopsis-color);
  }

  .package-list-item__metadata {
    color: var(--package-list-item-metadata-color);

    .package-list-item__license {
      color: var(--package-list-item-metadata-color);
    }

    .package-list-item__version {
      color: var(--package-list-item-version-color);
    }
  }

  .package-list-item__metadata > * {
    margin-top: 0.5rem;
    margin-right: 10px;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.category a:hover {
  text-decoration: underline;
}

.package-link a:hover {
  text-decoration: underline;
}

.version-link a:hover {
  text-decoration: underline;
}

.dependency {
  white-space: nowrap;

  a:hover {
    text-decoration: underline;
  }
}

.theme-button--light {
  display: none;
}

[data-theme="dark"] .theme-button--light {
  display: inline-flex;
  background-color: hsl(294 40% 30%);
}

.theme-button--dark {
  display: inline-flex;
}

[data-theme="dark"] .theme-button--dark {
  display: none;
}

.error-code {
  color: var(--error-code);
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
}

.error-message {
  letter-spacing: -0.025rem;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
  color: var(--error-code);
}

.error-page-button {
  background-color: var(--error-button);
}

/* Dark mode-specific rules */
.dark {
  .social-button:hover {
    color: hsl(254.3 95% 76.7%);
  }
}

.page-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  h1 {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -0.025rem;
    text-align: center;
    overflow-wrap: anywhere;
  }

  .version {
    font-size: 0.5em;
    line-height: 1.3rem;
    padding-left: 4px;
  }
}

.dependents a.dependent:hover {
  text-decoration: underline;
}

.exact-match {
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 50%);
}

.package-count {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

/* Media Query Breakpoints */

/* Large rule is default */

/* Medium rules */
@media (max-width: 48rem) {
  .page-title {
    h1 {
      font-size: 2rem;
    }
  }
}
