/* stylelint-disable selector-class-pattern */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "variables.css";
@import "release-readme.css";
@import "release-changelog.css";
@import "compiler-badge.css";
@import "package.css";
@import "categories.css";

.hidden {
  display: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.larger-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Used for the sessions page */
.login-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  max-width: 28rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  h2 {
    color: rgb(17 24 39);
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    margin-bottom: 0.75rem;
  }

  .form-input {
    border-color: rgb(107 114 128);
    border-radius: 6px;
    border-width: 2px;
    color: rgb(17 24 39);
    display: block;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    padding: 0.5rem;
    width: 100%;
  }
}

.main-title {
  color: var(--text-color);
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: -0.025rem;
  line-height: 2.5rem;
  margin-bottom: 5px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}

.font-light {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.version-list-item {
  a {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  a:hover h4.version-list-item__name {
    text-decoration: underline;
  }

  .version-list-item__name {
    margin-right: 0.5rem;
    display: inline;
    color: var(--link-color);
    font-weight: bolder;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.package-list-item {
  font-size: 1.25rem;
  line-height: 1.75rem;
  list-style: none;

  a {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  a:hover {
    background-color: var(--package-list-item-background-hover-color);
    border-radius: 6px;
  }

  a:hover h4.package-list-item__name {
    text-decoration: underline;
  }

  .package-list-item__name {
    display: inline;
    margin-right: 0.5rem;
    color: var(--package-list-item-name-color);
  }

  .package-list-item__synopsis {
    display: inline;
    color: var(--package-list-item-synopsis-color);
  }

  .package-list-item__metadata {
    color: var(--package-list-item-metadata-color);

    .package-list-item__license {
      color: var(--package-list-item-metadata-color);
    }

    .package-list-item__version {
      color: var(--package-list-item-version-color);
    }

    .license-icon {
      height: 1.25rem;
      width: 1.25rem;
      display: inline;
      margin-top: -0.25rem;
    }
  }

  .package-list-item__metadata > * {
    margin-top: 0.5rem;
    margin-right: 10px;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.category a:hover {
  text-decoration: underline;
}

.package-link a:hover {
  text-decoration: underline;
}

.version-link a:hover {
  text-decoration: underline;
}

.dependency a:hover {
  text-decoration: underline;
}

.release a:hover {
  text-decoration: underline;
}

.top-navbar {
  background-color: var(--navbar-background-color);
  border-bottom-width: 1px;
  border-color: var(--navbar-border-color);
  margin-bottom: 0.75rem;
  z-index: 10;
  top: 0;
  left: 0;
  position: sticky;

  .navbar-content {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    height: 4rem;
    display: flex;

    .navbar-left {
      display: flex;
      align-items: center;
      height: 4rem;

      form {
        max-width: 24rem;
        width: 100%;
        display: inline-flex;
        margin-left: 1.25rem;
      }
    }

    .brand {
      flex-shrink: 0;
      border-bottom-width: 4px;
      padding-bottom: 0.5rem; /* 8px */
      border-color: var(--brand-border);
    }

    .brand a {
      color: rgb(255 255 255);
      font-weight: 700;
      text-decoration: none;
    }

    .brand-menu {
      flex-shrink: 0;
    }

    .brand-menu a {
      color: rgb(255 255 255);
      font-weight: 700;
      text-decoration: none;
    }
  }

  .navbar-right {
    background-color: var(--navbar-background-color);

    .navbar-link {
      display: inline-flex;
      color: rgb(255 255 255);
      font-weight: 700;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  .navbar-search {
    @apply rounded-full w-full mr-3 pl-3 py-1 px-1;
    @apply leading-tight focus:outline-none border border-2;

    border-color: var(--navbar-search-border-color);
    color: var(--navbar-search-color);
    background-color: var(--navbar-search-background-color);
  }

  .navbar-search:focus {
    border-color: var(--search-bar-focus-border-color);
  }

  .navbar-element:hover {
    --tw-text-opacity: 1;

    color: var(--navbar-element-hover-color);
  }

  #navbar-search-package-name {
    padding-left: 20px;
  }
}

.theme-button--light {
  display: none;
}

[data-theme="dark"] .theme-button--light {
  display: inline-flex;
  background-color: hsl(294 40% 30%);
}

.theme-button--dark {
  display: inline-flex;
}

[data-theme="dark"] .theme-button--dark {
  display: none;
}

.error-code {
  color: var(--error-code);
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
}

.error-message {
  letter-spacing: -0.025rem;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
  color: var(--error-code);
}

.error-page-button {
  background-color: var(--error-button);
}

/* Dark mode-specific rules */
.dark {
  .social-button:hover {
    color: hsl(254.3 95% 76.7%);
  }
}

.divider-with-margin {
  padding-bottom: 1rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid hsl(0 0% 80%);
}

.divider {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid hsl(0 0% 80%);
}

.page-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  h1 {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -0.025rem;
    text-align: center;
    overflow-wrap: anywhere;
  }
}

.dependents a.dependent:hover {
  text-decoration: underline;
}

.exact-match {
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 50%);
}

.main-search {
  background-color: var(--search-bar-background-color);
  border-radius: 0.75rem;
  border-width: 2px;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  line-height: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem;
  outline-offset: -2px;
  overflow: hidden;
  padding: 0.5rem;

  .search-bar {
    background-color: var(--search-bar-background-color);
    color: var(--search-bar-color);
    display: block;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.5rem;
    flex-grow: 1;
  }

  .search-bar:hover {
    background-color: var(--search-bar-background-hover-color);
  }

  .search-bar:focus {
    background-color: var(--search-bar-background-focus-color);
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

.main-search:focus-within {
  border-color: var(--search-bar-focus-border-color);
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 5px 5px 5px 2px var(--search-bar-focus-border-color);
}

.main-search button {
  margin-bottom: 1.25rem;
  margin-right: 1rem;
  margin-top: 1.25rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.about-page {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 6rem;
  width: auto;

  h3 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 2.5rem;
  }

  div h3 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 2.5rem;
  }

  ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.about-page__banner {
  margin-top: 0.25rem;
  text-align: center;
  margin-bottom: 4rem;
}

.about-page__title {
  letter-spacing: -0.025rem;
  font-weight: 800;
}

.about-page__subtitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: 36rem;
  margin-top: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.admin-page {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  .admin-title {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -0.025em;
    text-align: center;
  }

  .admin-cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    gap: 1.25rem;
    display: grid;
    margin-top: 1.25rem;
  }

  .admin-card {
    padding: 1.5rem;
    border-radius: 0.5rem;
    overflow: hidden;

    dt {
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    dd {
      font-weight: 600;
      font-size: 1.875rem;
      line-height: 2.25rem;
      margin-top: 0.25rem;
    }
  }
}

/* Large display rules */
@media (min-width: 1024px) {
  .container {
    width: auto;
    max-width: 1300px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .dependency {
    white-space: nowrap;
  }

  .package-body {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .about-page__title {
    font-size: 3.75rem;
    line-height: 1;
  }

  .brand-menu {
    display: none;
  }

  .brand {
    display: flex;
  }

  .top-navbar .navbar-content .navbar-right .main-page-button {
    display: none;
  }
}

/* Smol display rulz */

@media (max-width: 1024px) {
  .page-title {
    h1 {
      font-size: 2rem;
    }
  }

  .about-page {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 4rem;
    width: auto;
  }

  .about-page__subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    max-width: 36rem;
    margin-top: 1.25rem;
  }

  .top-navbar {
    .navbar-content {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .navbar-left {
      display: none;
    }
  }

  .categories-body {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
