/* stylelint-disable selector-class-pattern */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */

:root {
  --background-color: hsl(30 10% 96%);
  --brand-border: hsl(220 13% 91%);
  --button-hover-background: hsl(294 40% 20%);
  --category-card-name-color: hsl(218 30% 30%);
  --category-card-synopsis-color: hsl(221 39% 11%);
  --category-card-background-hover: hsl(220 13% 91%);
  --error-button: hsl(294 40% 20%);
  --error-code: hsl(294 40% 20%);
  --link-color: hsl(218 30% 45%);
  --link-hover-color: hsl(220 13% 91%);
  --navbar-background-color: hsl(294 40% 20%);
  --navbar-border-color: hsl(220 13% 91%);
  --navbar-element-hover-color: hsl(254 95% 77%);
  --navbar-search-color: hsl(221 39% 11%);
  --navbar-search-background-color: hsl(30 10% 96%);
  --navbar-search-border-color: hsl(30 10% 96%);
  --text-color-dark: hsl(221 39% 11%);
  --text-color-light: hsl(216 12% 84%);
  --text-color: hsl(221 39% 11%);
  --package-list-item-background-hover-color: hsl(220 13% 91%);
  --package-list-item-name-color: hsl(221 39% 11%);
  --package-list-item-synopsis-color: black;
  --package-list-item-metadata-color: black;
  --package-list-item-version-color: #0a6;
  --search-bar-color: hsl(221 39% 11%);
  --search-bar-background-color: white;
  --search-bar-background-hover-color: white;
  --search-bar-background-focus-color: white;
  --search-bar-focus-border-color: hsl(294 40% 30%);
  --readme-pre-background-color: hsl(225 13% 87%);
  --readme-code-background-color: hsl(225 13% 87%);
  --changelog-pre-background-color: hsl(225 13% 87%);
  --changelog-code-background-color: hsl(225 13% 87%);
  --install-string-border: hsl(215 28% 17%);
  --compiler-badge-background: hsl(218 12% 84%);
  --main-page-button-background: hsl(218 12% 84%);
  --main-page-button-focus-border-color: hsl(294 40% 30%);
  --main-page-button-divider: hsl(294 40% 20%);
  --deprecated-version: hsl(358 80% 60%);
}

html[data-theme="dark"] {
  --background-color: hsl(218 30% 20%);
  --brand-border: hsl(294 40% 30%);
  --button-hover-background: hsl(294 40% 20%);
  --category-card-name-color: hsl(294 40% 60%);
  --category-card-synopsis-color: hsl(216 12% 84%);
  --category-card-background-hover: hsl(218 30% 15%);
  --error-button: hsl(294 40% 30%);
  --error-code: hsl(294 40% 55%);
  --link-color: hsl(294 40% 60%);
  --link-hover-color: hsl(218 30% 15%);
  --navbar-background-color: hsl(218 30% 15%);
  --navbar-border-color: transparent;
  --navbar-element-hover-color: hsl(254 95% 77%);
  --navbar-search-color: hsl(220 13% 91%);
  --navbar-search-background-color: hsl(218 30% 20%);
  --navbar-search-border-color: hsl(218 30% 20%);
  --text-color-dark: hsl(221 39% 11%);
  --text-color-light: hsl(216 12% 84%);
  --text-color: hsl(216 12% 84%);
  --package-list-item-background-hover-color: hsl(218 30% 15%);
  --package-list-item-name-color: hsl(294 40% 60%);
  --package-list-item-metadata-color: hsl(220 13% 91%);
  --package-list-item-synopsis-color: hsl(220 13% 91%);
  --package-list-item-version-color: hsl(140 60% 35%);
  --search-bar-color: hsl(216 12% 84%);
  --search-bar-background-color: hsl(218 30% 25%);
  --search-bar-background-hover-color: hsl(218 30% 25%);
  --search-bar-background-focus-color: hsl(218 30% 25%);
  --search-bar-focus-border-color: hsl(294 40% 30%);
  --readme-pre-background-color: hsl(218 29% 30%);
  --readme-code-background-color: hsl(218 29% 30%);
  --changelog-pre-background-color: hsl(218 29% 30%);
  --changelog-code-background-color: hsl(218 29% 30%);
  --install-string-border: hsl(215 28% 17%);
  --compiler-badge-background: hsl(218 30% 30%);
  --main-page-button-background: hsl(218 29% 30%);
  --main-page-button-focus-border-color: hsl(294 40% 30%);
  --main-page-button-divider: hsl(218 30% 15%);
  --deprecated-version: hsl(358 80% 60%);
}
