.package-advisory-list-item {
  display: table-row;
  font-size: 1.10rem;
  line-height: 2rem;
}

.package-advisory-list-item__hsec-id {
  display: table-cell;
}

.package-advisory-list-item__summary {
  display: table-cell;
  font-weight: bolder;
}

.package-advisory-list-item__published {
  display: table-cell;
}

.package-advisory-list-item__attributes {
  display: table-cell;
	font-size: 0.90em;

  .advisory-list-item__severity-none {
    background-color: var(--severity-none);
    border-radius: 0.5rem;
    color: var(--severity-rating-colour);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .advisory-list-item__severity-low {
    background-color: var(--severity-low);
    border-radius: 0.5rem;
    color: var(--severity-rating-colour);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .advisory-list-item__severity-medium {
    background-color: var(--severity-medium);
    border-radius: 0.5rem;
    color: var(--severity-rating-colour);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .advisory-list-item__severity-high {
    background-color: var(--severity-high);
    border-radius: 0.5rem;
    color: var(--severity-rating-colour);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .advisory-list-item__severity-critical {
    background-color: var(--severity-critical);
    border-radius: 0.5rem;
    color: var(--severity-rating-colour);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

	.advisory-list-item__fix-available {
    background-color: var(--pale-green);
    border-radius: 0.5rem;
    color: var(--severity-rating-colour);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
		margin-left: 0.5rem;

	}

}
