/* stylelint-disable selector-class-pattern */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */

.button {
  background-color: var(--main-page-button-background);
  border-radius: 50rem;
  border-width: 1px;
  color: var(--text-color);
  font-weight: bolder;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
}

.button:hover {
  border-color: var(--main-page-button-focus-border-color);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 0 4px 2px var(--main-page-button-focus-border-color);
}

.button:active {
  border-color: var(--main-page-button-focus-border-color);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 0 4px 2px var(--main-page-button-focus-border-color);
}

.theme-button {
  padding: 0.5rem;
  border-radius: 0.375rem;
  align-items: center;

  .sun-icon {
    height: 1.5rem;
    filter: invert(100%);
  }

  .moon-icon {
    height: 1.5rem;
    filter: invert(100%);
  }
}
