.pageHead {
	position: relative;
	z-index: 0;
	background-color: var(--color-surface-default);
	padding-block: var(--space-region);
	border-bottom: 1px solid var(--color-stroke-default);
}

.pageHead--expanded {
	padding-block: max(10vmin, var(--space-region));
}

.pageHead--decorative::before {
	position: absolute;
	inset: 0;
	content: '';
	z-index: -1;
	display: block;
	background-color: var(--color-surface-brand);
	mask-image: url('../../flower-half.svg');
	mask-size: min(var(--size-wrapper, 67rem), 90vmax) auto;
	mask-repeat: no-repeat;
	mask-position: center 100%;
	opacity: .75;
}

.pageHead-title {
	font-size: var(--text-heading-1);
	line-height: var(--leading-thin);
	color: var(--color-text-raise);
}

.pageHead-title a {
	text-decoration: underline;
	text-decoration-thickness: .07em;
	text-decoration-color: var(--color-underline-tertiary);
}

.pageHead-title .prefix {
	color: var(--color-text-tertiary);
	font-weight: 250;
	font-size: .95em;
	vertical-align: baseline;
}

.pageHead-subtitle {
	font-size: var(--text-large);
	line-height: var(--leading-short);
	color: var(--color-text-secondary);
}

.pageHead-tip:first-child {
	margin-block-start: calc(-1 * var(--space-region));
}

.pageHead-tip:last-child {
	margin-block-end: calc(-1 * var(--space-region));
}
