.tooltip {
	--tooltip-inset: var(--space-2);
	--tooltip-border-width: var(--space-1);
	--tooltip-radius: var(--radius-xs);
	--tooltip-width: 30ch;
	position: fixed;
	inset: 0;
	margin: var(--space-1);
	max-width: min(90vw, var(--tooltip-width, 50ch));
	width: max-content;
	position-anchor: auto;
	position-area: top;
	position-try: flip-block,flip-start,flip-start flip-inline;
	padding: var(--tooltip-inset);
	border: 1px solid var(--color-stroke-default);
	border-radius: var(--tooltip-radius);
	background: var(--color-surface-default);
	box-shadow: var(--shadow-default);
	font-size: var(--text-small);
	color: var(--color-text-default);
	interest-delay: 0.1s;

	/* Entry animation */
	transition:
		opacity 0.25s,
		translate 0.1s;
	transition-behavior: allow-discrete;

}

.tooltip hr {
	border-style: solid;
	border-width: 1px 0 0;
	border-color: var(--color-stroke-default);
}


/* Anchoring positions
-------------------------------------------------- */

/* Mandatory for anchor polyfill since its doesnt support implicit anchoring or constructed style: */

/* https://github.com/oddbird/css-anchor-positioning/issues/273#issuecomment-4119899341 */


[interestfor="lottery-factor-learn"] {
	anchor-name: --lottery-factor-learn;
}

#lottery-factor-learn {
	position-anchor: --lottery-factor-learn;
}
