/* stylelint-disable selector-class-pattern */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */

/* Position */
.static {
	position: static;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.flex {
	display: flex;
}

.inline-flex {
	display: inline-flex;
}

.flex-col {
	flex-direction: column;
}

.items-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

@media (min-width: 768px) {
	.md\:flex {
		display: flex;
	}

	.md\:items-center {
		align-items: center;
	}

	.md\:justify-between {
		justify-content: space-between;
	}

	.md\:order-1 {
		order: 1;
	}

	.md\:order-2 {
		order: 2;
	}
}

/* Sizes */

.h-5 {
	height: 1.25rem;
}

.h-6 {
	height: 1.5rem;
}

.w-5 {
	width: 1.25rem;
}

.w-6 {
	width: 1.5rem;
}

.min-w-full {
	min-width: 100%;
}

.max-w-7xl {
	max-width: 80rem;
}

/* Overflow */

.overflow-hidden {
	overflow: hidden;
}

.overflow-x-auto {
	overflow-x: auto;
}

/* Borders */

.rounded-md {
	border-radius: var(--space-md);
}

.border-b {
	border-bottom-width: 1px;
}

.border-gray-200 {
	border-color: rgb(229 231 235 / 100%);
}

.bg-slate-200 {
	background-color: rgb(226 232 240 / 100%);
}

@media (min-width: 640px) {
	.sm\:rounded-lg {
		border-radius: var(--space-lg);
	}

	.sm\:border-l {
		border-left-width: 1px;
	}

	.sm\:border-transparent {
		border-color: transparent;
	}
}

/* Content */

.divider {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid hsl(0 0% 80%);
}

.divider-with-margin {
	padding-bottom: 1rem;
	margin-bottom: 4rem;
	border-bottom: 1px solid hsl(0 0% 80%);
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
	border-top-width: 1px;
	border-bottom-width: 0;
}

.divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
	border-color: rgb(229 231 235 / 100%);
}

/* Effects */

.shadow {
	--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
		0 1px 2px -1px var(--tw-shadow-color);

	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.filter {
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
		var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
		var(--tw-sepia) var(--tw-drop-shadow);
}

.invert {
	--tw-invert: invert(100%);

	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
		var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
		var(--tw-sepia) var(--tw-drop-shadow);
}
