name: Publish Docker Image

on:
  push:
    branches: ["development"]
    paths:
      - Dockerfile
      - docker-compose.yml
      - scripts/.zshrc

jobs:
  publish-hello-docker-image:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build the Docker image
        run: |
               docker build . --tag ghcr.io/flora-pm/flora-server:latest
               docker run ghcr.io/flora-pm/flora-server:latest
               docker push ghcr.io/flora-pm/flora-server:latest

