name: Publish Docker Image

on: 
  pull_request:
    paths:
      - Dockerfile 
      - docker-compose.yml
      - scripts/.zshrc
  push:
    paths:
      - Dockerfile 
      - docker-compose.yml
      - scripts/.zshrc

jobs:
  publish-hello-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build the hello-docker Docker image
        run: |
               docker build . --tag ghcr.io/flora-pm/flora-server:latest
               docker run ghcr.io/flora-pm/flora-server:latest
               docker push ghcr.io/flora-pm/flora-server:latest

