name: Frontend tests

on:
  pull_request:
  push:
    branches: ["main", "development"]

jobs:
  Frontend_tests:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-node@v5
      with:
        node-version: "18"
        cache: "yarn"
        cache-dependency-path: assets/yarn.lock

    - name: Configure environment
      run: |
        echo "$HOME/node_modules/.bin" >> $GITHUB_PATH
        source ./environment.ci.sh

    - name: Stylelint
      run: |
        cd assets
        yarn
        yarn stylelint css

    - name: Build
      run: |
        make assets-deps
        make build-assets
