name: Linting

on:
  pull_request:
  push:
    branches: ["main", "development"]

jobs:
  fourmolu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: fourmolu/fourmolu-action@v8
      with:
        version: "0.14.1.0"
        pattern: |
          src/**/*.hs
          test/**/*.hs
          app/**/*.hs

  hlint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: 'Set up HLint'
      uses: rwe/actions-hlint-setup@v1
      with:
        version: '3.5'

    - name: 'Run HLint'
      uses: rwe/actions-hlint-run@v2
      with:
        path: '["src/", "app/", "test/"]'
        fail-on: warning
