name: "Flora nix check"
on:
  pull_request:
  push:
    branches: ["main", "development"]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v20
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - run: nix flake check .# -Lv --allow-import-from-derivation --fallback
