name: Build Docker Image

on:
  pull_request:
    branches: ["main", "development"]
    paths:
      - Dockerfile
      - docker-compose.yml
      - scripts/.zshrc

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: make docker-build
